<a href="https://colab.research.google.com/github/purosh96/SS_ML/blob/main/LR3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import files
upload = files.upload()

Saving startup.csv to startup.csv

In [3]:
import pandas as pd

In [14]:
df = pd.read_csv("startup.csv")
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [22]:
ohe = pd.get_dummies(df['State'],prefix="State")
X = pd.concat([df,ohe],axis=1)
X.drop(columns=['State','Profit'],inplace=True)
y = df['Profit']

In [23]:
X.head()

,R&D Spend,Administration,Marketing Spend,State_California,State_Florida,State_New York
0,165349.20,136897.80,471784.10,0,0,1
1,162597.70,151377.59,443898.53,1,0,0
2,153441.51,101145.55,407934.54,0,1,0
3,144372.41,118671.85,383199.62,0,0,1
4,142107.34,91391.77,366168.42,0,1,0

In [31]:
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.pipeline import Pipeline

In [41]:
#pipe = Pipeline([('SS',StandardScaler()),('LR',LinearRegression())])
SS = StandardScaler()
SS.fit_transform(X)
LR = LinearRegression()

In [42]:
LR.fit(X,y)

LinearRegression()

In [53]:
from sklearn.model_selection import cross_val_score
score = cross_val_score(LR,X,y,cv=10)
score

array([  0.35755391,  -2.92792107,  -4.28577694, -16.44332307,
        -0.64184613,  -6.34309843, -11.25740136,  -2.64079337,
        -0.30730505,  -0.63556867])

In [54]:
from sklearn.model_selection import train_test_split as tts

In [55]:
XTr,XTe,yTr,yTe = tts(X,y)

In [56]:
LR.fit(XTr,yTr)

LinearRegression()

In [57]:
yPr = LR.predict(XTe)

In [58]:
from sklearn.metrics import r2_score
r2_score(yTe,yPr)

0.9171829234081569