<a href="https://colab.research.google.com/github/purosh96/SS_ML/blob/main/SVMExtra1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [81]:
import pandas as pd
from google.colab import files

In [82]:
file = files.upload()

Saving breast-cancer-wisconsin.csv to breast-cancer-wisconsin (2).csv

In [83]:
df = pd.read_csv("breast-cancer-wisconsin.csv")
df.shape

(699, 11)

In [84]:
df.head()

,id,clump_thickness,unif_cell_size,unif_cell_shape,marg_adhesion,single_epith_cell_size,bare_nuclei,bland_chromation,normal_nucleoli,mitoses,class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

In [85]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      699 non-null    int64
 1   clump_thickness         699 non-null    int64
 2   unif_cell_size          699 non-null    int64
 3   unif_cell_shape         699 non-null    int64
 4   marg_adhesion           699 non-null    int64
 5   single_epith_cell_size  699 non-null    int64
 6   bare_nuclei             699 non-null    object
 7   bland_chromation        699 non-null    int64
 8   normal_nucleoli         699 non-null    int64
 9   mitoses                 699 non-null    int64
 10  class                   699 non-null    int64
dtypes: int64(10), object(1)
memory usage: 60.2+ KB

In [86]:
df['bare_nuclei'].unique()

array(['1', '10', '2', '4', '3', '9', '7', '?', '5', '8', '6'],
      dtype=object)

In [87]:
df['bare_nuclei'].value_counts()

1     402
10    132
2      30
5      30
3      28
8      21
4      19
?      16
9       9
7       8
6       4
Name: bare_nuclei, dtype: int64

In [88]:
df = df[df['bare_nuclei'] != '?']

In [89]:
df['bare_nuclei'] = df['bare_nuclei'].astype(int)

In [90]:
df['class'].value_counts(normalize = True)

2    0.650073
4    0.349927
Name: class, dtype: float64

In [91]:
df.drop(columns=['id'],inplace = True)

In [92]:
df.head()

,clump_thickness,unif_cell_size,unif_cell_shape,marg_adhesion,single_epith_cell_size,bare_nuclei,bland_chromation,normal_nucleoli,mitoses,class
0,5,1,1,1,2,1,3,1,1,2
1,5,4,4,5,7,10,3,2,1,2
2,3,1,1,1,2,2,3,1,1,2
3,6,8,8,1,3,4,3,7,1,2
4,4,1,1,3,2,1,3,1,1,2

In [93]:
X = df.drop(columns = ['class']).copy()
y = df['class'].copy()

In [94]:
X.shape,y.shape

((683, 9), (683,))

In [95]:
from sklearn.model_selection import train_test_split as tts
XTr, XTe, yTr, yTe = tts(X,y,test_size = 0.25,stratify = y)

In [96]:
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV
model = SVC()

In [97]:
parameters = {'kernel':('linear', 'rbf','poly'), 'C':[1, 10]}
grid = GridSearchCV(model,parameters)

%time grid.fit(XTr, yTr)
model = grid.best_estimator_
print(grid.best_params_)

CPU times: user 285 ms, sys: 1.37 ms, total: 286 ms
Wall time: 287 ms
{'C': 1, 'kernel': 'rbf'}

In [98]:
ypred = model.predict(XTe)

In [99]:
from sklearn.metrics import classification_report
print(classification_report(yTe,ypred))

              precision    recall  f1-score   support

           2       0.99      0.97      0.98       111
           4       0.95      0.98      0.97        60

    accuracy                           0.98       171
   macro avg       0.97      0.98      0.97       171
weighted avg       0.98      0.98      0.98       171

In [100]:
from sklearn.metrics import confusion_matrix
print(confusion_matrix(yTe,ypred))

[[108   3]
 [  1  59]]